.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.wrapperText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
}

